# General
*.vagrant
.bundle
build/*
tools/chef/cookbooks/*
tools/chef/tmp/*
tools/assets/*
bin/*
.DS_Store
secret.key

# Composer
vendor
composer.phar

# Frontend
.sass-cache/*
*.css.map
node_modules/*

# Magento
public/privatesales
public/var
public/app/code/community/Phoenix/
public/app/code/community/Cm/
public/app/code/core/
public/app/design/
public/app/etc/modules/Enterprise_*
public/app/etc/modules/Mage_All.xml
public/app/etc/modules/Mage_Api.xml
public/app/etc/modules/Mage_Api2.xml
public/app/etc/modules/Mage_Authorizenet.xml
public/app/etc/modules/Mage_Bundle.xml
public/app/etc/modules/Mage_Captcha.xml
public/app/etc/modules/Mage_Centinel.xml
public/app/etc/modules/Mage_Compiler.xml
public/app/etc/modules/Mage_Connect.xml
public/app/etc/modules/Mage_CurrencySymbol.xml
public/app/etc/modules/Mage_Downloadable.xml
public/app/etc/modules/Mage_ImportExport.xml
public/app/etc/modules/Mage_LoadTest.xml
public/app/etc/modules/Mage_Oauth.xml
public/app/etc/modules/Mage_PageCache.xml
public/app/etc/modules/Mage_Persistent.xml
public/app/etc/modules/Mage_Weee.xml
public/app/etc/modules/Mage_Widget.xml
public/app/etc/modules/Mage_XmlConnect.xml
public/app/etc/modules/Phoenix_Moneybookers.xml
public/app/etc/modules/Cm_RedisSession.xml
public/app/etc/applied.patches.list
public/app/etc/config.xml
public/app/etc/enterprise.xml
public/app/etc/local.xml.additional
public/app/etc/local.xml.template
public/app/etc/local.xml
public/.htaccess
public/.htaccess.sample
public/app/locale/
public/app/Mage.php
public/cron.php
public/cron.sh
public/downloader/
public/errors/
public/favicon.ico
public/get.php
public/includes/
public/index.php
public/index.php.sample
public/install.php
public/js/blank.html
public/js/calendar/
public/js/enterprise/
public/js/extjs/
public/js/firebug/
public/js/flash/
public/js/index.php
public/js/jscolor/
public/js/lib/
public/js/mage/
public/js/prototype/
public/js/scriptaculous/
public/js/spacer.gif
public/js/tiny_mce/
public/js/varien/
public/lib/3Dsecure/
public/lib/Apache/
public/lib/flex/
public/lib/googlecheckout/
public/lib/.htaccess
public/lib/LinLibertineFont/
public/lib/Mage/
public/lib/PEAR/
public/lib/phpseclib/
public/lib/Varien/
public/lib/Zend/
public/lib/Cm/
public/lib/Credis/
public/lib/Magento/
public/LICENSE_AFL.txt
public/LICENSE.html
public/LICENSE.txt
public/LICENSE_EE*
public/mage
public/media/customer/
public/media/dhl/
public/media/downloadable/
public/media/.htaccess
public/media/import/
public/media/xmlconnect/
public/media/catalog/product/cache/
public/api.php
public/nbproject/
public/pear
public/pear/
public/php.ini.sample
public/pkginfo/
public/RELEASE_NOTES.txt
public/shell/abstract.php
public/shell/compiler.php
public/shell/indexer.php
public/shell/log.php
public/skin/adminhtml/default/default/
public/skin/adminhtml/default/enterprise
public/skin/frontend/base/
public/skin/frontend/rwd/
public/skin/frontend/default/blank/
public/skin/frontend/default/blue/
public/skin/frontend/default/default/
public/skin/frontend/default/french/
public/skin/frontend/default/german/
public/skin/frontend/default/iphone/
public/skin/frontend/default/modern/
public/skin/frontend/enterprise
public/skin/install/
public/skin/frontend/rwd/enterprise/images/demo-logo.png
public/media/
public/app/etc/modules/Mage_Ogone.xml
public/shell/lib/Migration.php
public/shell/umt113_conflict.php
public/shell/umt113_redirect.php
public/shell/url_migration_from_1_13_0_0_to_1_13_0_2.php
public/shell/url_migration_to_1_13.php
tools/
.editorconfig
Gemfile
Gemfile.lock
Hobofile
README.md
behat.yml
build.xml
features/
phpdoc.xml
phpmd.xml